<div class="container-sm">
  <!-- Display -->
  <div class="display">
    <div class="number-history">{{firstNumber}}</div>
    <div class="operation">{{operation}}</div>
    <div class="number-history">{{lastNumber}}</div>
    <div class="operation"*ngIf="lastNumber !== ''">=</div>
  </div>
  <!-- Number -->
  <div class="number">
    {{actualNumber}}
  </div>
  <!-- Keyboard -->
  <div id="keyboard" class="keyboard grid text-center">
    <div class="line">
      <div class="col-3 key">
        <button class="key-button first-keys" (click)="clearNumber()">AC</button>
      </div>
      <div class="col-3 key">
        <button class="key-button first-keys" (click)="backspace()">
          <i i-bs name="backspace" width="1.7rem" height="1.7rem"></i>
        </button>
      </div>
      <div class="col-3 key">
        <button class="key-button first-keys" (click)="addOperation('%')">%</button>
      </div>
      <div class="col-3 key">
        <button class="key-button other-keys" (click)="addOperation('÷')">÷</button>
      </div>
    </div>
    <div class="line">
      <div class="col-3 key">
        <button class="key-button" (click)="addDigit('7')">7</button>
      </div>
      <div class="col-3 key">
        <button class="key-button" (click)="addDigit('8')">8</button>
      </div>
      <div class="col-3 key">
        <button class="key-button" (click)="addDigit('9')">9</button>
      </div>
      <div class="col-3 key">
        <button class="key-button other-keys" (click)="addOperation('x')">x</button>
      </div>
    </div>
    <div class="line">
      <div class="col-3 key">
        <button class="key-button" (click)="addDigit('4')">4</button>
      </div>
      <div class="col-3 key">
        <button class="key-button" (click)="addDigit('5')">5</button>
      </div>
      <div class="col-3 key">
        <button class="key-button" (click)="addDigit('6')">6</button>
      </div>
      <div class="col-3 key">
        <button class="key-button other-keys" (click)="addOperation('-')">-</button>
      </div>
    </div>
    <div class="line">
      <div class="col-3 key">
        <button class="key-button" (click)="addDigit('1')">1</button>
      </div>
      <div class="col-3 key">
        <button class="key-button" (click)="addDigit('2')">2</button>
      </div>
      <div class="col-3 key">
        <button class="key-button" (click)="addDigit('3')">3</button>
      </div>
      <div class="col-3 key">
        <button class="key-button other-keys" (click)="addOperation('+')">+</button>
      </div>
    </div>
    <div class="line">
      <div class="col-6 key">
        <button class="key-button-0" (click)="addDigit('0')">0</button>
      </div>
      <div class="col-3 key">
        <button class="key-button" (click)="addDigit(',')">,</button>
      </div>
      <div class="col-3 key">
        <button class="key-button other-keys" (click)="calculateResult(true)">=</button>
      </div>
    </div>
  </div>
</div>
