<div class="container-sm">
  <!-- Display -->
  <div class="display">
  </div>
  <!-- Number -->
  <div class="number">
  </div>
  <!-- Keyboard -->
  <div id="keyboard" class="keyboard grid text-center">
    <div class="line">
      <div class="col-3 key">
        <button class="key-button first-keys">AC</button>
      </div>
      <div class="col-3 key">
        <button class="key-button first-keys">±</button>
      </div>
      <div class="col-3 key">
        <button class="key-button first-keys">%</button>
      </div>
      <div class="col-3 key">
        <button class="key-button other-keys">÷</button>
      </div>
    </div>
    <div class="line">
      <div class="col-3 key">
        <button class="key-button">7</button>
      </div>
      <div class="col-3 key">
        <button class="key-button">8</button>
      </div>
      <div class="col-3 key">
        <button class="key-button">9</button>
      </div>
      <div class="col-3 key">
        <button class="key-button other-keys">x</button>
      </div>
    </div>
    <div class="line">
      <div class="col-3 key">
        <button class="key-button">4</button>
      </div>
      <div class="col-3 key">
        <button class="key-button">5</button>
      </div>
      <div class="col-3 key">
        <button class="key-button">6</button>
      </div>
      <div class="col-3 key">
        <button class="key-button other-keys">-</button>
      </div>
    </div>
    <div class="line">
      <div class="col-3 key">
        <button class="key-button">1</button>
      </div>
      <div class="col-3 key">
        <button class="key-button">2</button>
      </div>
      <div class="col-3 key">
        <button class="key-button">3</button>
      </div>
      <div class="col-3 key">
        <button class="key-button other-keys">+</button>
      </div>
    </div>
    <div class="line">
      <div class="col-6 key">
        <button class="key-button-0">0</button>
      </div>
      <div class="col-3 key">
        <button class="key-button">,</button>
      </div>
      <div class="col-3 key">
        <button class="key-button other-keys">=</button>
      </div>
    </div>
  </div>
</div>
