:root {
  /*  DARK   */
  --bg-color-dark: #22252E;
  --font-color-dark: #F6F6F6;
  --bg-color-key-dark: #2B2D2E;
  --bg-color-keyboard-dark: #2A2C38;
  /*  LIGHT   */
  --bg-color-light: #FFFFFF;
  --font-color-light: #262829;
  --bg-color-keyboard-light: #F9F9F9;
  --bg-color-key-light: #F2F2F2;

  /* ALL */
  --font-color-first-keys: #3DCCB8;
  --font-color-other-keys: #F66069;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color-dark);
  color: var(--font-color-dark);
  font-family: 'Jost', sans-serif;
  height: 100%;
  width: 100%;
}

button {
  color: var(--font-color-dark);
}
